.gradient {
    position: absolute;
    height: 100%;
    width: 100%;
}

.gradient-primary {
    background: linear-gradient(90deg, lightgreen, lightblue);
}

.gradient-secondary {
    background: linear-gradient(transparent, black);
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  height: 60%vh;
  width: 60%vh;
  background-color: white;
}